/* Ref:  http://www.w3schools.com/css/css_syntax.asp */
<style>
@import url('https://fonts.googleapis.com/css?family=Ubuntu');
</style>

body,html{
	height: 100%;
	width: 100%;
}
body { /* General style rules for the body section */
  background-image: url("Images/wallpaper.jpg";)
font-family:  'Ubuntu', sans-serif;
font-weight: bold;
}


#wrapper1 {
max-width: 1170px;
max-height:1170px;
margin:0 auto;

}

#wrapper2 {
	/*background-color:	#B2FFFF ;*/
	max-width: 1170px;
	max-height:1170px;
  margin:0 auto;
}

#wrapper3 {
	background-color:#F9B76C ;
	max-width: 1170px;
  margin:0 auto;
}

#wrapper4 {
	/*background-color:#20CBF1;*/
	max-width: 1170px;
  margin:0 auto;
}

#nav1_container{
	margin: 10px 0;

    /*padding: 10px 0;*/
    /*border: 1px solid #000;*/
}

#nav1{
	padding: 0;
    margin: 0 0;
    text-align: center;
    height: 150px;
    display: flex;
    justify-content:space-around;
    align-items: center;
}

#nav1 li{
    list-style: none;
}
#nav1 li a{
    text-decoration: none;
    /*font-size: 1.5em;
		padding: 1rem;*/
    }

/*#nav1 li a:hover{
    background-color:#F7E2E1;
    color:white;
	}*/


#snow {
	position: absolute;
  left: 320px;
  top: 250px;
  z-index: 2;
}

#snow2{
	position: absolute;
  left: 600px;
  top: 500px;
  z-index: 2;
}



	#snow4 {
		position: absolute;
	  left: 400px;
	  top: 190px;
	  z-index: 2;}
