/* Ref:  http://www.w3schools.com/css/css_syntax.asp */
<style>
@import url('https://fonts.googleapis.com/css?family=Ubuntu');
</style>

body,html{
	height: 100%;
	width: 100%;
}
body { /* General style rules for the body section */
font-family:  'Ubuntu', sans-serif;
font-weight: bold;
}


#wrapper1 {
	*background-color:#F9EC6C;
	max-width: 1170px;
  margin:0 auto;
}

#wrapper2 {
	background-color:	#B2FFFF ;
	max-width: 1170px;
  margin:0 auto;
}

#wrapper3 {
	background-color:#F9B76C ;
	max-width: 1170px;
  margin:0 auto;
}

#wrapper4 {
	background-color:#fff;
	max-width: 1170px;
  margin:0 auto;
}

#nav1{
	padding: 20em;
	 position: center;

}

a{
    font-size: 1.5em;
		padding: 1.3rem;
    }

a:hover{
    background-color:#F7E2E1;
    color:white;
	}
